html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}
.post {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 50rem;
  width: 30%;
  box-shadow: 2rem 1rem 1rem gray;
  border: 1rem solid white;
  background-color: #fce168;
}
.images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
img {
  height: 400rem;
  width: 400rem;
}
.header-title {
  font-family: "Montserrat", sans-serif;
  font-size: 15rem;
  text-align: center;
  background-color: #03a9f4;
  border: 1rem solid white;
}
.animation {
  height: 6rem;
  width: 6rem;
  position: fixed;
  animation-name: test;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  color: white;
}
@keyframes test {
  0% {
    left: 50%;
    bottom: 50%;
    background-color: #e03636;
  }
  33% {
    left: 60%;
    bottom: 60%;
    background-color: #de6262;
    transform: scale(0.6);
  }
  66% {
    left: 40%;
    bottom: 40%;
    background-color: #e39898;
    transform: scale(0.3);
  }
  100% {
    left: 50%;
    bottom: 50%;
    transform: scale(0);
  }
}
.dubai:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in;
}
.la:hover {
  border: solid blue;
  background-color: cyan;
  transform: scale(1.05);
  transition: all 0.2s ease-in;
}
.london:hover {
  transform: scale(1.15);
  transform: skew(2deg, 2deg);
  transition: all 0.5s ease-in;
  box-shadow: 1rem 0.5rem 0.5rem gray;
  background-color: gray;
}
.moscow:hover {
  transition: all 0.2s ease-in;
  transform: scale(1.09) rotate(-5deg);
}
.ny:hover {
  transform: scale(1.4) translate(60px, 10%);
  transition: all 0.7s ease-in;
}
@media screen and (max-width: 1024px) {
  .main {
    width: 100%;
  }
  .header-title {
    background-color: red;
  }
}
@media screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
  .header-title {
    background-color: green;
  }
  .post {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .main {
    width: 100%;
  }
  .header-title {
    background-color: purple;
  }
  .post {
    width: 100%;
  }
}
