html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 120%;
}
.post {
  height: 70rem;
  width: 26%;
  margin: 1rem auto;
  box-shadow: 10px 5px 5px gray;
}
.header-title {
  font-family: "Montserrat", sans-serif;
  font-size: 20rem;
  text-align: center;
  background-color: blue;
}
.images {
}
