html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 120%;
  background-color: #b3e5fc;
}
.post {
  display: flex;
  flex-wrap: wrap;
  height: 30rem;
  width: 30%;
  margin: 1rem auto;
  box-shadow: 2rem 1rem 1rem gray;
  border: 1rem solid white;
  padding-left: 18rem;
  background-color: #fce168;
}

.header-title {
  font-family: "Montserrat", sans-serif;
  font-size: 15rem;
  text-align: center;
  background-color: #03a9f4;
  border: 1rem solid white;
}
.animation {
  height: 4rem;
  width: 4rem;
  position: fixed;
  animation-name: test;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  color: white;
}
@keyframes test {
  0% {
    left: 50%;
    bottom: 50%;
    background-color: #e03636;
  }
  33% {
    left: 60%;
    bottom: 60%;
    background-color: #de6262;
    transform: scale(0.6);
  }
  66% {
    left: 40%;
    bottom: 40%;
    background-color: #e39898;
    transform: scale(0.3);
  }
  100% {
    left: 50%;
    bottom: 50%;
    transform: scale(0);
  }
}
.dubai:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
